<head>
  <meta charset="utf-8" />
  <title>Inventory Management | DGE Inventory - Admin & Dashboard Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    content="Premium Multipurpose Admin & Dashboard Template"
    name="description"
  />
  <meta content="Themesdesign" name="author" />
  <!-- App favicon -->
  <link rel="shortcut icon" href="images/favicon.ico" />

  <link
    href="libs/select2/css/select2.min.css"
    rel="stylesheet"
    type="text/css"
  />

  <link
    href="libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css"
    rel="stylesheet"
  />

  <link
    href="libs/spectrum-colorpicker2/spectrum.min.css"
    rel="stylesheet"
    type="text/css"
  />

  <link
    href="libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css"
    rel="stylesheet"
  />

  <!-- Bootstrap Css -->
  <link
    href="css/bootstrap.min.css"
    id="bootstrap-style"
    rel="stylesheet"
    type="text/css"
  />
  <!-- Icons Css -->
  <link href="css/icons.min.css" rel="stylesheet" type="text/css" />
  <!-- App Css-->
  <link
    href="css/app.min.css"
    id="app-style"
    rel="stylesheet"
    type="text/css"
  />
</head>
