<div class="vertical-menu">
  <div data-simplebar class="h-100">
    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title">Menu</li>
        <%if(user.role === "super-admin"){%>
        <li>
          <a href="/" class="waves-effect">
            <i class="ri-dashboard-line"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="ri-unsplash-fill"></i>
            <span>Unit</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="/unit-all">All Unit</a></li>
            <li><a href="/unit-add">Add Unit</a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="ri-arrow-down-circle-fill"></i>
            <span>Supplier</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="/supplier-all">All Supplier</a></li>
            <li><a href="/supplier-add">Add Supplier</a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="ri-team-fill"></i>
            <span>Resource</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="/resource-all">All Resource</a></li>
            <li><a href="/resource-add">Add Resource</a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="fas fa-child"></i>
            <span>User</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="/user-all">All User</a></li>
          </ul>
        </li>
        <% } else if (user.role === "admin") {%>
        <li>
          <a href="/" class="waves-effect">
            <i class="ri-dashboard-line"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="ri-unsplash-fill"></i>
            <span>Unit</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="/unit-all">All Unit</a></li>
            <li><a href="/unit-add">Add Unit</a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="ri-arrow-down-circle-fill"></i>
            <span>Supplier</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="/supplier-all">All Supplier</a></li>
            <li><a href="/supplier-add">Add Supplier</a></li>
          </ul>
        </li>
        <% } else {%>
        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="ri-team-fill"></i>
            <span>Resource</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="/resource-all">All Resource</a></li>
            <li><a href="/resource-add">Add Resource</a></li>
          </ul>
        </li>
        <%}%>
      </ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>
